<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CADEntities" connectionString="metadata=res://*/Models.ProdutoModel.csdl|res://*/Models.ProdutoModel.ssdl|res://*/Models.ProdutoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities1" connectionString="metadata=res://*/Models.FornecedorModel.csdl|res://*/Models.FornecedorModel.ssdl|res://*/Models.FornecedorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities2" connectionString="metadata=res://*/Models.FornecedorModel.csdl|res://*/Models.FornecedorModel.ssdl|res://*/Models.FornecedorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities3" connectionString="metadata=res://*/Models.ProdutoModel.csdl|res://*/Models.ProdutoModel.ssdl|res://*/Models.ProdutoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities4" connectionString="metadata=res://*/Models.FornecedoresModel.csdl|res://*/Models.FornecedoresModel.ssdl|res://*/Models.FornecedoresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities5" connectionString="metadata=res://*/Models.ProdutosModel.csdl|res://*/Models.ProdutosModel.ssdl|res://*/Models.ProdutosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities6" connectionString="metadata=res://*/Models.FornecedorModel.csdl|res://*/Models.FornecedorModel.ssdl|res://*/Models.FornecedorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities7" connectionString="metadata=res://*/Models.ProdutoModel.csdl|res://*/Models.ProdutoModel.ssdl|res://*/Models.ProdutoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CADEntities8" connectionString="metadata=res://*/Models.UsuarioModel.csdl|res://*/Models.UsuarioModel.ssdl|res://*/Models.UsuarioModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLEXPRESS;initial catalog=CAD;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TesteEntities" connectionString="metadata=res://*/Models.FornecedoresModel.csdl|res://*/Models.FornecedoresModel.ssdl|res://*/Models.FornecedoresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLTEST;initial catalog=Teste;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TesteEntities1" connectionString="metadata=res://*/Models.ProdutoModel.csdl|res://*/Models.ProdutoModel.ssdl|res://*/Models.ProdutoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLTEST;initial catalog=Teste;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sistemaEntities" connectionString="metadata=res://*/Models.FornecedoresModel.csdl|res://*/Models.FornecedoresModel.ssdl|res://*/Models.FornecedoresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLTEST;initial catalog=sistema;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sistemaEntities1" connectionString="metadata=res://*/Models.ProdutosModel.csdl|res://*/Models.ProdutosModel.ssdl|res://*/Models.ProdutosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLTEST;initial catalog=sistema;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sistemaEntities2" connectionString="metadata=res://*/Models.ProdutosModel.csdl|res://*/Models.ProdutosModel.ssdl|res://*/Models.ProdutosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Ariele\SQLTEST;initial catalog=sistema;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>